publishers list
{{ message }}
<br>
{{#if success}}
  {{#each publishers}}
    {{ this.name }} - {{ this.country_id.name }}
      <a href="/editora/atualizar/{{this._id}}">atualizar</a>&nbsp;
      <a href="/editora/excluir/{{this._id}}">Deletar</a>
    <br>
  {{/each}}
{{/if}}
<a href="/editora/cadastrar">Cadastrar nova editora</a>
